apiVersion: v1
kind: Service
metadata:
  name: monitoring-collector # Doit correspondre exactement à la cible dans prometheus.yml
  namespace: {{ .Values.global.namespace | default "monitoring" }}
  labels:
    app.kubernetes.io/name: monitoring-collector
spec:
  type: ClusterIP
  selector:
    # CRITIQUE : Ces labels doivent matcher ceux du POD de l'Otel Collector
    # Vérifiez avec : kubectl get pods -n monitoring --show-labels
    app.kubernetes.io/name: monitoring-collector
  ports:
    - name: metrics
      port: 8888        # Port exposé pour Prometheus
      targetPort: 8888
      protocol: TCP
    - name: otlp-grpc
      port: 4317        # Port pour recevoir les traces (Tempo)
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
