# 1. Rôle Local : Lire les ConfigMaps (Correction de votre erreur)
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "diiage-finals-app.fullname" . }}-config-reader
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "diiage-finals-app.fullname" . }}-config-binding
  namespace: {{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ include "diiage-finals-app.fullname" . }}-config-reader
  apiGroup: rbac.authorization.k8s.io
---
# 2. Rôle Global : Lister les Pods (Votre demande précédente)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "diiage-finals-app.fullname" . }}-pod-lister
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["list", "get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "diiage-finals-app.fullname" . }}-pod-binding
subjects:
- kind: ServiceAccount
  name: {{ .Values.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "diiage-finals-app.fullname" . }}-pod-lister
  apiGroup: rbac.authorization.k8s.io
